body {
    background-color: black;
}

#container {
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    margin: auto;
    justify-content: stretch;
    width: 550px;
}

.grid {
    border: 2px solid white;
    height: 50px;
    width: 50px;
}